{% extends 'base.html'%}

<!-- Content block -->
{% block content %}
    <div class="container jumbotron">
        <h1 class="display-4">Welcome</h1>
        <p class="lead">
            Welcome To Joesh_Gichon Blog Website At: 
            <a href="/posts/new">View Blog Posts</a>
        </p>
    </div>
    <div class="container">
        <h2>Quote of the day</h2>
        <p>
            <blockquote>
                {{ display_quotes.quote }}
            </blockquote>
        </p>
        <h3>By: {{display_quotes.author}}</h3>
    </div>
{% endblock%}